//banner
.main_banner {
    padding-top: 162px;
    position: relative;
    .iframe_wrap {
        width: 100%;
    }
    .carousel {
        display: flex;
        justify-content: center;
        position: relative;
        .carousel-inner {
            &:before {
                content: "";
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(7, 17, 42, 0.61) 0%, rgba(7, 17, 42, 0.61) 100%);
                z-index: 1;
            }
        }
    }
    .carousel-item {
        > img {
            width: 100%;
            max-height: calc(100vh - 170px);
            height: 600px;
            object-fit: cover;
        }
    }
    iframe,
    video,
    .wp-video {
        width: 100% !important;
        max-height: calc(100vh - 150px);
        min-height: 500px;
        -o-object-fit: cover;
        object-fit: cover;
        position: relative;
        z-index: 9;
    }
    .caption_wrap {
        display: flex;
        justify-content: center;
    }
    .carousel-caption {
        position: absolute;
        width: 900px;
        top: 10%;
        z-index: 9;
        margin: 0 auto;
        display: table;
        left: 0;
        right: 0;
        text-align: center;
        h2 {
            color: #fff;
            text-shadow: none;
            margin-bottom: 12px;
            font-size: 50px;
            font-weight: 900;
            text-transform: capitalize;
            span {
                font-size: 31px;
                font-weight: 600;
                margin-bottom: 12px;
                font-weight: normal;
                display: block;
            }
        }
        p {
            font-size: 24px;
            color: $white;
            // max-width: 700px;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
            font-weight: 500;
        }
        .btn_sm {
            margin-top: 24px;
        }
        @include md {
            // text-align: left;
            h1 {
                font-size: 36px;
            }
        }
        @media (min-width: 768px) {
            bottom: 40px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 41px;
        height: 41px;
        // border-radius: 0px 5px 5px 0px;
        // background: rgba(255, 255, 255, 0.50);
        top: 50%;
        opacity: 1;
        transform: translateY(-50%);
        z-index: 10;
        &:hover {
            img {
                filter: brightness(0) saturate(100%) invert(94%) sepia(10%) saturate(941%) hue-rotate(34deg)
                    brightness(93%) contrast(91%);
            }
            // background: $secondary;
        }
    }
    .carousel-control-next {
        right: 40px;
        img {
            @include rotate;
        }
    }
    .carousel-control-prev {
        left: 40px;
    }
    .carousel-indicators li {
        width: 15px;
        height: 15px;
        border: 0;
        border-radius: 100px;
        background: #fff;
        opacity: 1;
        &.active {
            background: $primary;
        }
    }
}

.banner-caption {
    max-width: 650px;
    margin-bottom: 30px;
    h1 {
        color: #fff;
        text-transform: uppercase;
        font-variant: all-small-caps;
    }
    p {
        font-size: 21px;
        color: #fff;
    }
}

.btn_main {
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    border-radius: 5px;
    border: 2px solid $secondary;
    padding: 8px 24px;
    text-decoration: none;
    img {
        margin-left: 8px;
    }
    &:hover {
        background: $secondary;
        color: #fff;
        border-color: $secondary;
        text-decoration: none;
        img {
            filter: brightness(0) invert(1);
        }
    }
}

.banner-buttons {
    padding: 64px 0;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .top-Title {
        h2 {
            color: #153683;
        }
    }
    .row {
        .views-element-container {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            > div {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                row-gap: 24px;
            }
        }
    }
    .btn_card {
        padding: 40px 16px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #eaeaea;
        background: #fff;
        box-shadow: 6px 6px 0 0 rgba(115, 115, 115, 0.15);
        .btn_icon {
            width: 80px;
            height: 80px;
            min-width: 80px;
            min-height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            background: $light-green;
            margin: auto;
            margin-bottom: 8px;
            @include md {
                // width: 30px;
                // height: 30px;
                // min-width: 30px;
                // min-height: 30px;
            }
        }
        // .btn_header {
        //     display: flex;
        //     align-items: center;
        //     font-size: 24px;
        //     font-weight: 700;
        //     color: $white;
        //     font-family: $primary-font;
        // }
        h3 {
            color: $gray;
        }
        p {
            color: $black;
        }
        &:hover {
            background: $primary;
            p,
            h3 {
                color: $white;
            }
        }
    }
    @include md {
        .btn_card {
            padding-left: 16px;
            padding-right: 16px;
            .btn_header {
                flex-direction: column;
                align-items: start;
                .btn_icon {
                    img {
                        max-width: 22px;
                    }
                }
            }
            p {
                // display: none;
            }
        }
    }
}

@media (max-width: 1024px) {
    .main_banner {
        .carousel-item {
            > img {
                // height: 400px;
                // object-fit: cover;
                // z-index: 0;
                // min-height: 400px;
                // max-height: 400px;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                z-index: 0;
                min-height: 400px;
                position: absolute;
                max-height: 100%;
            }
        }
        iframe,
        video {
            height: 400px;
            object-fit: cover;
            z-index: 0;
            min-height: 400px;
            max-height: 400px;
        }
        .carousel-control-wrap {
            position: absolute;
            bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .carousel-control-next,
        .carousel-control-prev {
            transform: unset;
            position: relative;
        }
        .carousel-control-next {
            right: unset;
        }
        .carousel-control-prev {
            left: unset;
        }
        .carousel-caption {
            // bottom: 40px;
            // top: auto;
            // h2 {
            //     font-size: 38px;
            //     span {
            //         font-size: 28px;
            //     }
            // }
            bottom: unset;
            top: unset;
            transform: unset;
            position: relative;
            padding: 32px 0 70px;
            left: unset;
            right: unset;
            max-width: calc(100% - 50px);
            word-break: break-all;
        }
    }
}

@media (max-width: 1199.9px) {
    .main_banner {
        padding-top: 100px;
        flex-direction: column;
        .carousel-caption {
            // left: 50px;
            // right: 50px;
            // max-width: calc(100% - 100px);
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .main_banner .carousel-item > img {
        min-height: 500px;
    }
}
