//footer
.footer {
    background: linear-gradient(0deg, rgba(21, 54, 131, 0.97) 0%, rgba(21, 54, 131, 0.97) 100%), url(../img/footer_img.jpg) lightgray 0px -413.019px / 100% 215.757% no-repeat;
    color: #fff;
    padding: 40px 0 24px 0;
    .footer_row {
        display: grid;
        grid-template-columns: 0.8fr 1fr 1fr;
        @include md {
            grid-template-columns: 1fr;
        }
    }
    .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        max-width: 400px;
        &:last-child {
            margin-left: auto;
            @include md {
                margin-left: 0;
                padding-top: 12px;
            }
        }
        @include md {
            max-width: 100%;
        }
    }
    .footer-logo {
        margin-bottom: 24px;
        img {
        }
    }
    .footer-social {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        li {
            margin-right: 4px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                background: #fff;
                border-radius: 100px;
                transition: background 0.2s;
                img {
                    max-width: 25px;
                    filter: brightness(0) saturate(100%) invert(19%) sepia(55%) saturate(2126%) hue-rotate(198deg) brightness(92%) contrast(94%);
                }
                &:hover {
                    background: $green;
                }
            }
        }
    }
    h2 {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 16px;
    }
    .footer-contact {
        margin-bottom: 16px;
        display: grid;
        grid-template-columns: 33px auto;
        p {
            font-size: 16px;
            margin-bottom: 0;
            color: #fff;
            font-weight: 500;
            a {
                color: $white;
                &:hover {
                    color: $light-green;
                }
            }
        }
        .footer-icon {
            width: 24px;
            height: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            img {
                width: 20px;
                height: 20px;
            }
        }
        span {
            font-size: 18px;
            line-height: 1.3;
        }
        .font-weight-bold {
            font-family: "Inter", Arial, sans-serif;
            font-weight: 700;
        }
        strong {
            margin-bottom: 10px;
        }
    }
    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
        @include md{
            grid-template-columns: 1fr; 
        }
        li {
            margin-bottom: 10px;
            padding-left: 15px;
            position: relative;
            a {
                color: #fff;
                font-size: 16px;
                // text-decoration: underline;
                font-weight: 500;
                &::before {
                    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none"><path d="M1.0625 12L0 10.9375L4.9375 6L0 1.0625L1.0625 0L7.0625 6L1.0625 12Z" fill="white"/></svg>');
                    position: absolute;
                    left: 0px;
                    // top: 50%;
                    // transform: translateY(-50%);
                }
                &:hover {
                    color: $light-green;
                    text-decoration: underline;
                }
            }
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
    .footer-divider {
        border-top: 1px solid rgba(255, 255, 255, 0.6);
        margin: 24px 0 20px 0;
    }
    small {
        font-size: 13px;
        line-height: 1.3;
        opacity: 1;
        margin-top: 32px;
        display: block;
        font-weight: 300;
        font-style: italic;
        img{
            margin-left: 10px;
        }
    }
    @media (max-width: 767.98px) {
        .footer-social {
            margin-bottom: 32px !important;
        }
    }
}
