//Header
.main_header {
    position: fixed;
    background: $white;
    z-index: 99;
    width: 100%;
    top: 0px;
    box-shadow:
        0 1px 2px 0 rgba(0, 0, 0, 0.15),
        0 0 1px 0 rgba(0, 0, 0, 0.02);
    body.gin--classic-toolbar & {
        top: var(--gin-toolbar-y-offset) !important;
    }
    a {
        text-decoration: none;
        font-weight: 700;
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0px;
        font-size: 14px;
        color: $black;
        font-weight: bold;
        margin-right: 0px;
        img {
            margin-right: 10px;
        }
    }
    .container {
        max-width: 1370px;
    }
    .container-fluid {
        padding-left: 30px;
        padding-right: 0px;
        @media (max-width: 1199.9px) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .navbar-collapse {
        flex-direction: column;
    }
    .navbar {
        padding: 16px 0px;
        min-height: 135px;
        .head_wrap {
            display: flex;
            width: 100%;
            align-items: center;
        }
    }
    .container {
        align-items: flex-start;
    }
    .top_header {
        // background: #ececec;
        margin-left: auto;
        margin-bottom: 28px;
        .top_icon .views-element-container > div {
            display: flex;
            gap: 8px;
            margin-right: 24px;
            a {
                border-radius: 50px;
                background: var(--Blue, #153683);
                width: 36px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    background: $green;
                    svg,
                    img {
                        filter: brightness(0) saturate(100%) invert(18%) sepia(29%) saturate(3848%) hue-rotate(201deg)
                            brightness(98%) contrast(95%);
                    }
                }
            }
        }
    }
    .top_header_cont {
        margin-left: auto;
        z-index: 9;
        padding-top: 0px;
        display: flex;
        justify-content: flex-end;
    }
    .navbar {
        ul {
            list-style: none;
            padding: 0;
        }
        .container-fluid,
        .container {
            align-items: center;
        }
    }
    .social_media {
        @include flex;
        padding-right: 5px;
        ul {
            @include flex;
            margin: 0;
            padding: 0px;
            list-style: none;
            visibility: visible;
            li {
                margin-right: 5px;
            }
        }
        a {
            padding: 3px 3px;
            width: 25px;
            height: 25px;
            @include all;
            border-radius: 100px;
            background-color: $black;
            img {
                max-width: 18px;
                max-height: 16px;
            }
            &:hover {
                background: $primary;
            }
        }
    }
    .top_menu {
        @include flex;
        align-items: center;
        ul {
            @include flex;
            align-items: center;
            margin-bottom: 0;
            padding-right: 10px;
            padding-left: 20px;
            list-style: none;
            li {
                position: relative;
                margin: 0px 10px;
                &::after {
                    content: "";
                    position: absolute;
                    background: #d8612e;
                    height: 18px;
                    width: 1px;
                    right: -10px;
                    top: 14px;
                }
            }
            a {
                color: $black;
                font-size: 14px;
                padding: 14px 10px;
                display: inline-block;
                position: relative;
                font-weight: 700;
            }
            a:hover {
                color: $black;
                text-decoration: underline;
            }
            li:last-child a::after {
                display: none;
            }
        }
        .soc_nav_wrap {
            display: flex;
            align-items: center;
        }
    }
    .top_search {
        display: flex;
        margin-right: 0px;
        position: relative;
        // max-width: 185px;
        .form-control {
            min-height: 40px;
            padding: 10px 16px;
            padding-right: 35px;
            max-width: 250px;
            height: auto;
            border-radius: 50px;
            border: 1px solid var(--Grey, #4c4c4c);
            background: var(--Light-grey-3, #ececec);
            min-width: 220px;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            color: #222;
            &::placeholder {
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                color: #222;
            }
        }
        .searchbardiv {
            max-width: 250px;
            display: none;
        }
        .buttonsearch {
            background: none;
            border: 0;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            img {
                max-width: 25px;
            }
        }
        .innericon {
            background-image: url(../img/search-grey.svg) !important;
            background-size: 18px !important;
            svg {
                display: none !important;
            }
        }
        .asp_main_container {
            overflow: visible !important;
            border-radius: 0;
            box-shadow: none !important;
        }
        .probox {
            border: 1px solid #fff !important;
            overflow: visible !important;
            height: auto;
            width: 185px;
            background: #fff !important;
        }
        .proinput input.orig {
            font-size: 14px !important;
            color: #36393f !important;
            border-bottom: 0 !important;
            padding-bottom: 4px !important;
            font-weight: normal !important;
        }
        ::-webkit-input-placeholder {
            font-size: 14px !important;
            color: #36393f !important;
            border-bottom: 0 !important;
            padding-bottom: 4px !important;
            font-weight: normal !important;
        }
        ::-moz-placeholder {
            font-size: 14px !important;
            color: #36393f !important;
            border-bottom: 0 !important;
            padding-bottom: 4px !important;
            font-weight: normal !important;
        }
        :-ms-input-placeholder {
            font-size: 14px !important;
            color: #36393f !important;
            border-bottom: 0 !important;
            padding-bottom: 4px !important;
            font-weight: normal !important;
        }
        :-moz-placeholder {
            font-size: 14px !important;
            color: #36393f !important;
            border-bottom: 0 !important;
            padding-bottom: 4px !important;
            font-weight: normal !important;
        }
        .promagnifier {
            background: none !important;
            border-radius: 0px 0px 0px 0px !important;
            &:hover {
                svg {
                }
            }
        }
        input.orig,
        .probox,
        .promagnifier,
        .innericon,
        .proclose {
            height: 38px !important;
        }
    }
    .btn_sm {
        margin-left: 8px;
        background: #61bb46;
        color: $primary;
        border-color: #61bb46;
        &:hover,
        &:focus-within {
            background: $primary;
            color: $white;
            border-color: $primary;
        }
    }
    .nav_bottom {
        margin-top: 0px;
        margin-left: auto;
    }
    .navbar-nav {
        // flex-direction: row;
        // justify-content: center;
        // > li:focus-within > ul {
        //     display: block !important;
        //     visibility: visible !important;
        //     opacity: 1 !important;
        //     ul {
        //     }
        // }
        > li {
            position: relative;
            margin: 0px 0px;
            > a {
                font-size: 17px;
                padding: 0px 16px 0px 16px !important;
                text-align: center;
                @include all;
                line-height: 24px;
                position: relative;
                color: $black !important;
                font-weight: 700;
                font-family: $secondary-font !important;
                text-transform: capitalize;
                position: relative;
                &::after {
                    // content: "";
                    // position: absolute;
                    // background: #d8612e;
                    // bottom: 0;
                    // width: calc(100% - 24px);
                    // height: 2px;
                    // left: 12px;
                    // right: 12px;
                }
            }
            @include xl {
                &.menu-main__item--expanded {
                    > a {
                        gap: 8px;
                        &::after {
                            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16" fill="none"><path d="M6.29414 11.7062C6.68477 12.0968 7.31914 12.0968 7.70977 11.7062L12.7098 6.70615C13.1004 6.31553 13.1004 5.68115 12.7098 5.29053C12.3191 4.8999 11.6848 4.8999 11.2941 5.29053L7.00039 9.58428L2.70664 5.29365C2.31602 4.90303 1.68164 4.90303 1.29102 5.29365C0.900391 5.68428 0.900391 6.31865 1.29102 6.70928L6.29102 11.7093L6.29414 11.7062Z" fill="%23153683"/></svg>');
                            height: 20px;
                        }
                    }
                }
                &:hover {
                    > .dropdown-menu,
                    > .megamenu {
                        display: block;
                    }
                }
                .dropdown-menu,
                .megamenu {
                }
            }
            &:hover {
                > a {
                    color: $primary !important;
                    // background: $white;
                }
            }
            &:last-child > a {
            }
        }
        .dropdown-menu {
            width: 325px;
            border-radius: 0px;
            padding: 24px 16px 16px 16px;
            text-align: left;
            margin-top: 0;
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
            border-radius: 0;
            position: absolute;
            background: var(--Light-grey-1, #f5f5f5);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
            border: none;
            > li {
                margin-bottom: 0px;
                position: relative;
                // border-bottom: 2px solid #d8612e;
                > a {
                    color: #153683;
                    text-align: left;
                    display: block;
                    padding: 8px 0px;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 700;
                    &:hover {
                        text-decoration: none;
                        color: #3267e2;
                    }
                }
                &:last-child {
                    // border-bottom: none;
                }
            }
            a {
                white-space: normal;
                background: none;
                color: $black;
                font-weight: 500;
                &:hover {
                    color: $primary;
                }
            }
            .mega-submenu {
                padding-left: 0px;
                display: none;
                margin-bottom: 5px;
                li {
                    // margin-bottom: 10px;
                    position: relative;
                    a {
                        font-size: 17px;
                        font-weight: normal;
                        color: #000;
                        padding: 10px 8px;
                        display: block;
                        text-decoration: underline;
                        &:hover {
                            color: #3267E2;
                            // text-decoration: none;
                        }
                    }
                }
                >li{
                    >a{
                        font-weight: 700;
                        text-decoration: none;
                        &:hover {
                            color: #3267E2;
                            text-decoration: none;
                        }
                    }
                }
                ul {
                    // border-left: 1px solid $primary;
                    // padding: 10px 8px;
                    // margin-top: 8px;
                    li {
                        a {
                            padding: 10px 8px;
                            text-decoration: underline;
                            font-weight: 400;
                            &:hover {
                                color: #3267E2;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                // > li {
                //     margin-bottom: 0px;
                //     > a {
                //         padding: 3px 0px;
                //     }
                // }
            }
            .current_page_item,
            .current-menu-item {
                a {
                    color: $primary;
                }
            }
        }
    }
    .plus-minus {
        position: absolute;
        top: 7px;
        right: -5px;
        cursor: pointer;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover::after {
            color: #3267e2 !important;
        }
        &:after {
            content: "";
            color: $primary;
            font-weight: 700;
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none"><path d="M5.29609 6.70859C5.68672 7.09922 6.32109 7.09922 6.71172 6.70859L11.7117 1.70859C12.1023 1.31797 12.1023 0.683594 11.7117 0.292969C11.3211 -0.0976562 10.6867 -0.0976562 10.2961 0.292969L6.00234 4.58672L1.70859 0.296093C1.31797 -0.0945315 0.683594 -0.0945315 0.292969 0.296093C-0.0976562 0.686718 -0.0976562 1.32109 0.292969 1.71172L5.29297 6.71172L5.29609 6.70859Z" fill="%23052E70"/></svg>');
            font-size: 0px;
        }
        &.minus-icon {
            &:after {
                // content: "\2212";
                transform: rotate(180deg);
            }
        }
    }
    .navbar-nav > {
        li.current_page_ancestor,
        li.current-menu-ancestor,
        li.current-page-parent,
        li.current_page_item,
        li.current-menu-item,
        li.current-page-ancestor {
            > a {
                color: $primary !important;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: 10px;
                    right: 10px;
                    width: calc(100% - 20px);
                    height: 5px;
                    background: $red;
                    @media (max-width: 1199.9px) {
                        left: 0px;
                        right: 0px;
                        width: calc(100% - 0px);
                    }
                }
            }
        }
    }
    .megamenu {
        display: none;
        position: absolute;
        background: #fff;
        width: 600px;
        padding: 20px 50px;
        border: 0;
        transform: translateX(-50%);
        left: 50%;
        box-shadow: 0px 3px 6px #00000029;
        a {
            font-weight: 500;
            color: $black;
            font-size: 18px;
            &:hover {
                color: $primary;
            }
        }
        li {
            margin-bottom: 10px;
        }
        ul.sidemenu {
            column-count: 2;
            width: 100%;
        }
        .current_page_item,
        .current-menu-item {
            a {
                color: $primary;
            }
        }
    }
    #block-khc-mainnavigation-2 {
        position: static;
        @media (max-width: 1199px) {
            display: none;
        }
    }
    #block-khc-mainnavigation {
        display: none;
        @media (max-width: 1199px) {
            display: block;
        }
    }
    .tbm-main {
        background: none;
        position: static;
        .tbm-button {
            display: none !important;
        }
        .tbm-collapse {
            display: block;
            position: static;
            .tbm-nav {
                .tbm-item {
                    border: none;
                    .tbm-link {
                        padding: 0 16px;
                        font-size: 17px;
                        color: #222;
                        font-weight: 700;
                        font-family: $secondary-font;
                        &:hover {
                            color: #153683;
                            background: none;
                        }
                    }
                    .tbm-submenu-toggle {
                        background: none;
                        width: 24px;
                        margin-left: -10px;
                        // height: 24px;
                        &::before {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%) translateX(-50%);
                            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16" fill="none"><path d="M6.29377 11.7062C6.6844 12.0968 7.31877 12.0968 7.7094 11.7062L12.7094 6.70615C13.1 6.31553 13.1 5.68115 12.7094 5.29053C12.3188 4.8999 11.6844 4.8999 11.2938 5.29053L7.00002 9.58428L2.70627 5.29365C2.31565 4.90303 1.68127 4.90303 1.29065 5.29365C0.900024 5.68428 0.900024 6.31865 1.29065 6.70928L6.29065 11.7093L6.29377 11.7062Z" fill="%23153683"/></svg>');
                            left: 50%;
                            display: block;
                            border: none;
                            height: 18px;
                        }
                    }
                }
                > .tbm-item {
                    > .tbm-submenu {
                        background: var(--Light-grey-1, #f5f5f5);
                        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
                        border: none;
                        padding: 24px;
                        .tbm-block {
                            padding: 0;
                        }
                        .tbm-item {
                            .tbm-link {
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 900;
                                color: var(--Blue, #153683);
                                padding: 0;
                                margin-bottom: 14px;
                                &:hover {
                                    color: #3267e2;
                                }
                            }
                            .tbm-group-container {
                                border-top: 0;
                                .tbm-subnav {
                                    > .tbm-item {
                                        .tbm-link {
                                            font-size: 17px;
                                            font-style: normal;
                                            font-weight: 700;
                                            color: var(--Blue, #153683);
                                            padding: 4px 0;
                                            margin: 0;
                                            &:hover {
                                                color: #3267e2;
                                                text-decoration: underline;
                                            }
                                        }
                                        .tbm-submenu {
                                            position: relative;
                                            left: 0;
                                            background: none;
                                            border: none;
                                            box-shadow: none;
                                            padding: 0;
                                            padding-left: 8px;
                                            .tbm-item {
                                                .tbm-link {
                                                    font-size: 17px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    color: #000;
                                                    padding: 4px 0;
                                                    margin: 0;
                                                    &:hover {
                                                        color: #3267e2;
                                                        text-decoration: underline;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 1199px) {
            .tbm-collapse {
                padding: 0;
                .tbm-nav {
                    > .tbm-item {
                        > .tbm-submenu {
                            box-shadow: none;
                            padding: 0px 16px;
                            .tbm-item {
                                .tbm-link {
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 900;
                                    color: var(--Blue, #153683);
                                    padding: 0;
                                    margin-bottom: 14px;
                                    &:hover {
                                        color: #3267e2;
                                    }
                                }
                                .tbm-group-container {
                                    border-top: 0;
                                    .tbm-subnav {
                                        > .tbm-item {
                                            .tbm-link {
                                                font-size: 17px;
                                                font-style: normal;
                                                font-weight: 700;
                                                color: var(--Blue, #153683);
                                                padding: 4px 0;
                                                margin: 0;
                                                &:hover {
                                                    color: #3267e2;
                                                    text-decoration: underline;
                                                }
                                            }
                                            .tbm-submenu {
                                                position: relative;
                                                left: 0;
                                                background: none;
                                                border: none;
                                                box-shadow: none;
                                                padding: 0;
                                                padding-left: 8px;
                                                .tbm-item {
                                                    .tbm-link {
                                                        font-size: 17px;
                                                        font-style: normal;
                                                        font-weight: 400;
                                                        color: #000;
                                                        padding: 4px 0;
                                                        margin: 0;
                                                        &:hover {
                                                            color: #3267e2;
                                                            text-decoration: underline;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // &.headerActive {
    //     max-height: calc(100vh - 30px);
    //     overflow: auto;
    // }
}

//language selector
.select_language {
    display: flex;
    margin: 0px 2px;
    position: relative;
    padding-left: 0px;
    padding-right: 10px;
    select {
        cursor: pointer;
        background: none;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-repeat: no-repeat;
        font-size: 14px;
        color: #000 !important;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 700;
        background-position: left;
        font-family: $secondary-font !important;
        text-transform: none;
        min-height: 40px;
        min-width: 100px;
        option {
            font-size: 16px;
            color: $black;
        }
        &:hover {
        }
    }
    select::-ms-expand {
        display: none;
    }
    > div {
        display: flex;
    }
}

//Header end
//Responsive header
@media (max-width: 1199.9px) {
    .main_header {
        .btn_sm {
            margin-left: 0px;
        }
        .top_header {
            order: 2;
            margin: 0;
            margin-top: 20px;
            width: 100%;
        }
        .navbar {
            min-height: 0px;
            padding-bottom: 0;
            .head_wrap {
                display: block;
            }
        }
        .navbar-collapse {
            background: var(--Light-grey-1, #f5f5f5);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            padding: 32px 0;
            display: flex;
            &:not(.show) {
                display: none;
            }
        }
        .top_header_cont {
            padding-top: 0px;
            margin: 0;
            width: 100%;
        }
        .navbar-brand img {
            max-width: 210px;
        }
        .logo_wrap {
            padding-left: 14px;
        }
        .top_search {
            width: 100%;
            padding: 16px 0;
            max-width: 100% !important;
            justify-content: center;
            .searchbar {
                width: 100%;
            }
            .form-control {
                max-width: unset;
            }
            .buttonsearch {
                background: none;
                border: 0;
                position: absolute;
                right: 5px;
                top: 49%;
                transform: translateY(-50%);
            }
        }
        .top_menu {
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }
        .top_inner_menu {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            flex-wrap: wrap;
            a {
                color: #000;
                font-weight: bold;
                font-size: 16px;
                display: block;
            }
            li {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .nav_bottom {
            justify-content: flex-start;
            width: 100%;
            flex-direction: column;
            margin-top: 0px;
            > .container-fluid {
                > div {
                    width: 100%;
                }
            }
        }
        .navbar-toggler {
            margin-right: 0;
            border-radius: 0px;
            height: 75px;
            width: 75px;
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            outline: 0 !important;
            position: absolute;
            right: 0px;
            top: 5px;
            .icon-bar {
                width: 25px;
                height: 4px;
                background: $primary;
                display: block;
                margin-bottom: 5px;
                border-radius: 100px;
                position: relative;
                transition: 0.3s;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -ms-transition: 0.3s;
                -o-transition: 0.3s;
            }
            &.active {
                .icon-bar:nth-of-type(1) {
                    top: 12px;
                    transform: rotate(45deg);
                }
                .icon-bar:nth-of-type(2) {
                    background-color: transparent;
                }
                .icon-bar:nth-of-type(3) {
                    top: -6px;
                    transform: rotate(-45deg);
                }
            }
        }
        .social_media ul li {
            margin-right: 8px;
        }
        .megamenu {
            position: static;
            width: 100%;
            transform: none;
            box-shadow: none;
            border-top: 5px solid #0033a1;
            border-bottom: 5px solid #0033a1;
            padding: 15px;
            a {
                font-size: 16px;
            }
            ul.sidemenu {
                column-count: 1;
            }
            li {
                margin-bottom: 18px;
            }
        }
        .navbar-nav {
            margin-top: 0px;
            width: 100%;
            > li {
                display: block;
                margin: 0px 16px;
                margin-bottom: 3px !important;
                border-bottom: 1px solid var(--Gray-dark, #e1e0e0);
                &.activeBlue{
                    border-bottom: none; 
                }
                // position: static;
                > a {
                    justify-content: flex-start;
                    padding: 12px 0px 12px 0px !important;
                    // font-size: 18px;
                    // font-weight: 700;
                    // min-height: 0;
                    // color: #1e2859 !important;
                }
                > .dropdown-menu {
                    position: static;
                    width: 100%;
                    transform: none;
                    -webkit-transform: none;
                    -moz-transform: none;
                    -ms-transform: none;
                    -o-transform: none;
                    box-shadow: none;
                    border: 0px;
                    padding: 0;
                    // position: absolute;
                    // left: 0;
                    // width: 100%;
                    // height: 100%;
                    >li{
                        border-bottom: 1px solid var(--Gray-dark, #E1E0E0);
                        >a{
                            padding: 10px 0px;
                        }
                    }
                    .menu-back {
                        color: #153683;
                        display: flex;
                        align-items: center;
                        text-decoration: underline;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        margin-bottom: 12px;
                        &::before {
                            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M3.23125 10.5436C3.08438 10.3998 3 10.2061 3 9.99983C3 9.79358 3.08438 9.59983 3.23125 9.45608L8.73125 4.20608C9.03125 3.91858 9.50625 3.93108 9.79063 4.23108C10.075 4.53108 10.0656 5.00608 9.76562 5.29046L5.62188 9.24983H16.25C16.6656 9.24983 17 9.58421 17 9.99983C17 10.4155 16.6656 10.7498 16.25 10.7498H5.62188L9.76875 14.7061C10.0688 14.9936 10.0781 15.4655 9.79375 15.7655C9.50937 16.0655 9.03438 16.0748 8.73438 15.7905L3.23438 10.5405L3.23125 10.5436Z" fill="%23153683"/></svg>');
                            display: block;
                            height: 20px;
                            margin-right: 8px;
                        }
                        &:hover {
                            color: #3267e2;
                            &::before {
                                content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M3.23125 10.5436C3.08438 10.3998 3 10.2061 3 9.99983C3 9.79358 3.08438 9.59983 3.23125 9.45608L8.73125 4.20608C9.03125 3.91858 9.50625 3.93108 9.79063 4.23108C10.075 4.53108 10.0656 5.00608 9.76562 5.29046L5.62188 9.24983H16.25C16.6656 9.24983 17 9.58421 17 9.99983C17 10.4155 16.6656 10.7498 16.25 10.7498H5.62188L9.76875 14.7061C10.0688 14.9936 10.0781 15.4655 9.79375 15.7655C9.50937 16.0655 9.03438 16.0748 8.73438 15.7905L3.23438 10.5405L3.23125 10.5436Z" fill="%233267E2"/></svg>');
                            }
                        }
                    }
                }
            }
            .plusMinus {
                position: absolute;
                width: 30px;
                height: 30px;
                right: 15px;
                text-align: center;
                cursor: pointer;
                top: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:after {
                    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none"><path d="M6.70859 5.29609C7.09922 5.68672 7.09922 6.32109 6.70859 6.71172L1.70859 11.7117C1.31797 12.1023 0.683594 12.1023 0.292969 11.7117C-0.0976562 11.3211 -0.0976562 10.6867 0.292969 10.2961L4.58672 6.00234L0.296093 1.70859C-0.0945315 1.31797 -0.0945315 0.683594 0.296093 0.292969C0.686718 -0.0976562 1.32109 -0.0976562 1.71172 0.292969L6.71172 5.29297L6.70859 5.29609Z" fill="%23153683"/></svg>');
                    position: absolute;
                    right: 0px;
                    background-repeat: no-repeat;
                    display: block;
                    right: 6px;
                    font-weight: 600;
                    font-size: 28px;
                    color: #1e2859;
                }
                &:hover::after {
                    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none"><path d="M6.70859 5.29609C7.09922 5.68672 7.09922 6.32109 6.70859 6.71172L1.70859 11.7117C1.31797 12.1023 0.683594 12.1023 0.292969 11.7117C-0.0976562 11.3211 -0.0976562 10.6867 0.292969 10.2961L4.58672 6.00234L0.296093 1.70859C-0.0945315 1.31797 -0.0945315 0.683594 0.296093 0.292969C0.686718 -0.0976562 1.32109 -0.0976562 1.71172 0.292969L6.71172 5.29297L6.70859 5.29609Z" fill="%233267e2"/></svg>');
                    color: #3267e2;
                }
                &.minsicon::after {
                    content: "\2212";
                }
            }
        }
        .plus-minus {
            right: 10px;
        }
        &.headerActive {
            max-height: calc(100vh - 30px);
            overflow: auto;
        }
        .navbar-nav > li:hover > a::after {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .logged-in .main_header {
        top: 32px;
    }
    .main_header .navbar-nav > li:last-child > .dropdown-menu {
        left: auto;
        right: -20px;
        transform: unset;
    }
    .main_header {
        .navbar-nav {
            > li:focus-within > ul {
                display: block !important;
                visibility: visible !important;
                opacity: 1 !important;
                ul {
                }
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .main_header .navbar-brand img {
        max-width: 250px;
    }
    .main_header .navbar-nav > li > a {
        font-size: 16px;
        padding: 10px 11px 10px 11px !important;
    }
}
